/*
 * Calculating Levenshtein distance between two strings
 * ---
 * @access public
 * ---
 * @since 1.0.0
 * ---
 * @param {string} $a - first string
 * @param {string} $b - second string
 * ---
 * @return {number}
 */

@function levenshtein($a, $b) {
  @if type-of($a) != "string" {
    @warn "`str-count` function expecting a string for $a; #{type-of($a)} given.";
    @return false;
  }

  @if type-of($b) != "string" {
    @warn "`str-count` function expecting a string for $b; #{type-of($b)} given.";
    @return false;
  }

  @return call(_ss-levenshtein, $a, $b);
}