/* 
 * Return last index of $needle in $string
 * ---
 * @access public
 * ---
 * @since 1.0.0
 * ---
 * @param {string} $string - string to search in
 * @param {string} $needle - substring to search for
 * ---
 * @return {number | null | false}
 */

@function str-last-index($string, $needle) {
  @if type-of($string) != "string" {
    @warn "`str-last-index` function expecting a string for $string; #{type-of($string)} given.";
    @return false;
  }

  @if type-of($needle) != "string" {
    @warn "`str-last-index` function expecting a string for $needle; #{type-of($needle)} given.";
    @return false;
  }

  @return call(_ss-str-last-index, $string, $needle);
}