/* 
 * Capitalize first letter from $string
 * ---
 * @access public
 * ---
 * @since 1.0.0
 * ---
 * @param {string} $string - string to capitalize first letter from
 * ---
 * @return {string | false}
 */

@function str-ucfirst($string) {
  @if type-of($string) != "string" {
    @warn "`str-ucfirst` function expecting a string for $string; #{type-of($string)} given.";
    @return false;
  }

  @return _ss-str-ucfirst($string);
}