/*
 * Count the number of occurrences of $needle in $string
 * ---
 * @access public
 * ---
 * @since 1.0.0
 * ---
 * @param {string} $string - string
 * @param {string} $needle - substring to count in $string
 * ---
 * @return {number|false}
 */

@function str-count($string, $needle) {
    @if type-of($string) != "string" {
        @warn "`str-count` function expecting a string for $string; #{type-of($string)} given.";
        @return false;
    }

    @if type-of($needle) != "string" {
        @warn "`str-count` function expecting a string for $needle; #{type-of($needle)} given.";
        @return false;
    }

    @return _ss-str-count($string, $needle);
}