/* 
 * Return last index of $needle in $string
 * ---
 * @param {string} $string - string to search in
 * @param {string} $needle - substring to search for
 * ---
 * @return {number | null | false}
 */

@function str-last-index($string, $needle) {
  @if type-of($string) != "string" {
    @warn "`str-last-index` function expecting a string for $string; #{type-of($string)} given.";
    @return false;
  }

  @if type-of($needle) != "string" {
    @warn "`str-last-index` function expecting a string for $needle; #{type-of($needle)} given.";
    @return false;
  }

  $index: str-index($string, $needle);
  $result: $index;

  @if $index {
    @for $i from $index + str-length($needle) through str-length($string) {
      @if str-slice($string, $i, $i + str-length($needle) - 1) == $needle {
        $result: $i;
      }
    }
  }

  @return $result;
}