@function str-count($string, $needle) {
  @if type-of($string) != "string" {
    @warn "`str-count` function expecting a string for $string; #{type-of($string)} given.";
    @return false;
  }

  @if type-of($needle) != "string" {
    @warn "`str-count` function expecting a string for $needle; #{type-of($needle)} given.";
    @return false;
  }

  $index: str-index($string, $needle);
  $result: if($index, 1, 0);

  @if $index {
    @for $i from $index + str-length($needle) through str-length($string) {
      @if str-slice($string, $i, $i + str-length($needle) - 1) == $needle {
        $result: $result + 1;
      }
    }
  }

  @return $result;
}