/// Check whether `$string` stars with `$needle`
/// @access private
/// @since 1.2.0
/// @param {String} $string - string to check
/// @param {String} $needle - substring to check
/// @return {Bool}
@function _ss-str-starts-with($string, $needle) {
  @return str-slice($string, 1, str-length($needle)) == $needle;
}
