@function char-at($string, $index) {
  @if type-of($string) != "string" {
    @warn "`char-at` function expecting a string for $string; #{type-of($string)} given.";
    @return false;
  }

  @if type-of($index) != "number" {
    @warn "`char-at` function expecting a number for $index; #{type-of($index)} given.";
    @return false;
  }

  @return str-slice($string, $index, $index);
}
