@function str-printf($string, $elements...) {
  @if type-of($string) != "string" {
    @warn "`str-printf` function expecting a string for $string; #{type-of($string)} given.";
    @return false;
  }

  $breaker: '%s'; 
  $result: $string;

  @for $i from 1 through length($elements) {
    $index: str-index($result, $breaker);
    @if $index {
      $result: str-slice($result, 1, $index - 1) + stringify(nth($elements, $i)) + str-slice($result, $index + str-length($breaker));
    }
    @else {
      @return $result;
    }
  }

  @return $result;
}